@import "../../../../styles";

#side-bar {
  display: none;
}

.side-bar-hovering{
  display: block !important;
  width: $sidebar-width;
  background: $sidebar-background;
  height: 100%;
  position: fixed;
  margin-top: 55px;
  z-index: 3000;
  box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.1);
}

#side-bar-toggle{
  z-index: 2000;
  font-size: 30px;
  color: darkblue;
  position: fixed;
  padding: 10px;
  display: block;
}

.nav-item {
  color: $nav-item-color;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .title{
    padding: 12px;
  }
  .toggle{
    padding: 12px;
    flex: 1 1 auto;
    text-align: end;
  }
  .icon{
    padding: 12px;
  }

}

.sub-nav{
  .nav-item{
    padding-left: 24px;
  }
}

.nav-item.selected{
  color: $nav-item-selected-color;
}

.nav-item.expanded{
  color: $nav-item-selected-color;
}


.nav-item:hover{
  color: $nav-item-selected-color;
}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #side-bar-toggle{
    display: none;
  }

  #side-bar{
    width: $sidebar-width;
    background: $sidebar-background;
    height: 100%;
    position: fixed;
    padding-top: 100px;
    box-shadow: 0px 0.5px 6px 0px rgba(0,0,0,0.1);
    display: block;
  }

}

